@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-background: hsl(260, 7%, 8%); /* Dark Gray */
  --color-foreground: hsl(0, 0%, 99%);

  --color-card: hsl(0 0% 20%);
  --color-card-foreground: hsl(210 40% 98%);

  --color-popover: hsl(0 0% 20%);
  --color-popover-foreground: hsl(210 40% 98%);

  --color-primary: hsl(45 100% 51%); /* Amber */
  --color-primary-foreground: hsl(0 0% 10%);

  --color-secondary: hsl(0 0% 25%);
  --color-secondary-foreground: hsl(210 40% 98%);

  --color-muted: hsl(0 0% 25%);
  --color-muted-foreground: hsl(215 20.2% 65.1%);

  --color-accent: hsl(45 100% 65%); /* Light Orange */
  --color-accent-foreground: hsl(0 0% 10%);

  --color-destructive: hsl(0 62.8% 30.6%);
  --color-destructive-foreground: hsl(210 40% 98%);

  --color-border: hsl(0 0% 25%);
  --color-input: hsl(0 0% 25%);
  --color-ring: hsl(45 100% 51%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-poppins);
  color: var(--color-foreground);
  background-color: var(--color-background);
}
